.footer_top {
    background-image: url("../img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    .container {
        display: flex;
        justify-content: space-between;
      .container_left {
        width: 50%;
        display: flex;
        }
        .container_right {
            background-image: url("../img/dc-logo-bg.png");
            background-repeat: no-repeat;
            background-position: center;
            height: 500px;
            width: 50%;
        }  
    }
    
}

.footer_bottom {
    background-color: $footer_dark;
    height: 200px;
}