header {
    color: white;
    .blue_container {
        background-color: $main_blue;
        padding: 0.5rem;
        .copyright {
            @include center-section;
            font-size: 14px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .copyright_left {
                margin-right: 2rem;
                i {
                    font-size: 10px;
                    vertical-align: top;
                }
                
            }
        }
    }
    nav {
        @include center-section;
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            img {
                height: 80px;
            }
        }
        .links {
            a {
                text-decoration: none;
                padding: 0 1rem;
                color: $main_dark;
                font-weight: bold;
            }
            i {
                color: black;
            }
        }
        .search {
            display: flex;
            border-bottom: 1px solid $main_blue;
            input {
                border: none;
                /* ::placeholder {
                    color: red;
                    font-weight: bold;
                } */
            }
            button {
                border: none;
            }
        }
    }
    .jumbo {
        height: 500px;
        background-image: url("../img/jumbotron.jpg");
    }
}