header {
    color: white;
    .blue_container {
        background-color: $main_blue;
        .copyright {
            @include center-section;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            :first-child {
            margin-right: 2rem;
            }
        }
    }
    nav {
        @include center-section;
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            img {
                height: 80px;
            }
            
        }
        .links {
            a {
                text-decoration: none;
                padding: 0 1rem;
                color: $main_dark;
                font-weight: bold;
            }
        }
    }
    .jumbo {
        height: 500px;
        background-image: url("../img/jumbotron.jpg");
    }
}