#index_main {
    background-color: $main_dark;
    display: flex;
    flex-direction: column;
    .container {
        @include center-section;
        padding: 3rem 0;
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-wrap: wrap;
        .current {
            position: absolute;
            padding: 1rem 3rem;
            background-color: $main_blue;
            color: white;
            font-size: 50px;
            top: -50px;
            left: 0;
        }
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem;
            width: 200px;
            height: 290px;
            .card_poster {
                height: 150px;
                width: 100%;
                overflow: hidden;
            }
            a {
                text-decoration: none;
                color: white;
                text-transform: uppercase;
            }
            
        }
    }
    button {
        text-decoration: none;
        color: white;
        background-color: $main_blue;
        width: 200px;
        align-self: center;
        padding: 1rem 2rem;
        margin: 1rem 0;
        border: none;
    }
    .main_links {
        background-color: $main_blue;
        padding: 3rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .main_link {
            display: flex;
            align-items: center;
            margin: 0 2rem;
            img {
                margin: 0 1rem;
                height: 50px;
            }
            a {
                text-decoration: none;
                color: white;
                text-transform: uppercase;
            }
        }
    }
}