* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: white;
}
header .blue_container {
  background-color: #0282f9;
}
header .blue_container .copyright {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .blue_container .copyright :first-child {
  margin-right: 2rem;
}
header nav {
  width: 80%;
  margin: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo img {
  height: 80px;
}
header nav .links a {
  text-decoration: none;
  padding: 0 1rem;
}
header .jumbo {
  height: 500px;
  background-image: url("../img/jumbotron.jpg");
}

main {
  background-color: #1c1c1c;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
main .container {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .container .card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 200px;
  height: 250px;
}
main .container .card .card_poster {
  height: 200px;
}
main .container .card .card_poster img {
  max-height: 200px;
}
main .container .card a {
  text-decoration: none;
  color: white;
}
main button {
  text-decoration: none;
  color: white;
  background-color: #0282f9;
  width: 200px;
  align-self: center;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border: none;
}
main .main_links {
  background-color: #0282f9;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main_links .main_link {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}
main .main_links .main_link img {
  margin: 0 1rem;
  height: 50px;
}
main .main_links .main_link a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}